body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    font-family: 'Jost', sans-serif;
    background-color: black; 
    color: white; 
    padding-top: 20px; 
}

h1 {
    text-align: left; 
    font-size: 2.5em; 
    margin-bottom: 20px; 
}

.centered-text {
    font-size: 1.7em; 
    text-align: center; 
    color: white; 
}

.warning-text {
    font-size: 1.2em;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    text-shadow: 0 0 5px #efef8d;
}

.left-text {
    font-size: 1.7em; 
    text-align: left; 
    color: white; 
}
