body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    font-family: Arial, sans-serif;
    background-color: black; 
    color: white; 
}

h1 {
    text-align: center; 
    font-size: 2.5em; 
    margin-bottom: 20px; 
}

.textbox {
    width: 300px; 
    padding: 10px;
    font-size: 1.2em; 
    margin: 10px 0; 
    text-align: center; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    background-color: #333; 
    color: white; 
}

.smaller-text {
    width: 300px;
    padding: 10px;
    font-size: 1em; 
    text-align: center; 
    border: 1px solid #ccc; 
    background-color: #333; 
    color: white; 
    border-radius: 5px; 
}
